doctype html
html
    head
        meta(charset='UTF-8')
        title Entu CMS
        script.
            require('electron-stylus')(__dirname + '/style.styl')
    body
        #tools
            h1 Entu SSG
                a#version(href="javascript:shell.openExternal('http://cms.entu.eu')")

            h2 Git

            h3 Remote
            a#remote.button(href='javascript:void(0)')

            h3 Folder
            a#repo.button(href='javascript:void(0)')

            h3 Branch
            select#branch.button(onchange='javascript:setBranch()')

            h2 Build

            h3 Configuration
            a#conf.button(href='javascript:openConfFile()')

            h3 Source folder
            a#source.button(href='javascript:shell.showItemInFolder(appConf.source)')

            h3 Build folder
            a#build.button(href='javascript:shell.showItemInFolder(appConf.build)')

            h3 Preview
            a#preview.button(href='javascript:openUrl()')
        #log
            table(cellspacing='0')
                tbody#log-table
        #log-footer
            a(href='javascript:clearLog()') clear log

        script(src='script.js', charset='utf-8')
